<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel = "stylesheet" href="/css/styles.css"> 

    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p>{{message}}</p>
        <a href="https://docs.mapbox.com/api/">Refer Mapbox API for documentation</a>
        <br>
        <a href="https://weatherstack.com/">Refer WeatherstackAPI for documentation</a>
        </div>
        {{>footer}}
    </body>

</html>
